@import url(../../assets/style/variables.scss);

$header-bg: #361647;
$white: #fff;
$item-bg:  #F7F7F7;
$radius: 3px;

.home-wrapper {

  .home-header {
    background: $header-bg;
    color: $white;
    padding: 20px 50px;
    background-image: url('../../assets/images/bg.png');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;

    .header-content {
      // max-width: 800px;
    }

    .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;
      cursor: pointer;
    }

    .logo {
      position: relative;
    }

    .header-text {
      // align-self: flex-start;
      // padding-top: 400px;
      text-align: center;

      span {
        padding: 5px 10px;
        background: darken($header-bg, 5%);
      }
    }

    .logo {
      // padding: 5px 0;

      margin: 0;
      font-size: 1.7rem;
      font-weight: 700;
      // padding: 0;
    }
  }

  .content-wrapper {
    padding: 35px;

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: darken($item-bg, 55%);
    }

    .list-item {
      background: darken($item-bg, 2%);
      padding: 50px 5px;
      border-radius: $radius;
      min-width: 290px;
      text-align: center;
      border: 1px solid darken($item-bg, 10%);
      margin: 15px;
      transition: background-color .3s ease-in-out;
      cursor: pointer; 

      &:hover {
        background: darken($item-bg, 8%);
      }
    }

    .item-caption {
      color: darken($item-bg, 35%);
      font-size: 7rem;
      margin-bottom: 35px;
    }
  }
}

.footer-wrapper {
  padding: 65px;

  h2 {
    margin: 0;
    padding: 0;
    color: darken($item-bg, 65%);
  }

  p {
    font-size: 14px;
    color: darken($item-bg, 55%);
  }

  .copyright {
    font-size: 12px;
    color: darken($item-bg, 35%);
  }
}


// MODAL
.item-info {
  max-width: 500px;
  text-align: center;
  padding: 20px;
  font-weight: 300;

  .item-caption {
    color: darken($item-bg, 35%);
    font-size: 7rem;
    margin-bottom: 20px;
  }

  .game-name {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .game-description {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .text {
    margin: 0;
    opacity: .8;
    font-size: 16px;
  }

  .block {
    margin-bottom: 15px;
  }

  .select-btn {
    margin: 10px;
    padding: 15px 30px;
    background: rgba(255, 255, 255, .6);
    font-size: 14px;
    font-weight: 400;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background .3s ease-in-out;

    a, a:visited, a:hover, a:active, a:focus {
      color: #000;
      text-decoration: none;
    }

    &:hover {
      background: rgba(255, 255, 255, .95);
    }
  }
  // margin: auto;
}