.mosaic-memory-online {
  
  .mosaic-online-content {
    text-align: center;
    padding: 30px;
  }

  .players-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .players {
    color: #fff;
  }

  .name-input {
    margin: 30px;

    input {
      padding: 5px 10px;
      border: 0;
      outline: 0;
      height: 35px;
    }
  }
}