$border-color: #2d2d2d;
$background-color: #3B3251;
$white: #fff;
$pink: #FD297D;

.memory-mosaic {
  color: $white;
  background:  $background-color;
  padding: 30px 10px;

  .game-container {
    max-width: 375px;
    margin: auto;
  }

  .field {
    height: 375px;
    margin: 7px auto 50px;
  }

  .cell {
    border: 1px solid $background-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    // padding: 1px;
  }

  .lives {
    color: $pink;
    font-size: 1em;
    text-align: right;

    .fa-heart {
      margin-left: 5px;
    }
  }
}
